@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.main-header{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    background :linear-gradient(to right,rgb(198, 107, 107),rgb(172, 85, 85));
}
.main-header__navbar{
    display: flex;
}
.main-header__navbar ul{
    display: flex;
}
.main-header__navbar li{
    list-style-type: none;
    margin: 5px 10px;
}
.main-header__navbar a{
    text-decoration: none;
    color: black;
}
.main-content{
    height: 100vh;
}
.footer-links{
    text-align: center;
    background :linear-gradient(to right,red,white);

    
    
}
.footer-links ul{
    display: flex;
    justify-content: center;
}
.footer-links li{
    list-style-type: none;

    margin:10px ;
}
.footer-links a{
    text-decoration: none;
    color: black;
}

.post-modal__openbtn{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    margin:50px 50px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.post-modal__openbtn:hover{
 color: aquamarine;
}
.main-content{
    text-align: center;
}
.post-modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}
.post-modal.active { 
    display: flex;
 }

.post-modal__form {
    background:#cce1f0;
    padding: 25px;
    border-radius: 10px;
    max-width: 450px;
    width: 90%;
    color: black;
    text-shadow:3px 3px 8px rgba(252, 252, 252, 0.6);
}

.post-modal__title, .post-modal__content {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.post-modal__title:hover{
    border-color: #3498db;
}
.post-modal__content:hover{
 border-color: #3498db;   
}
.post-modal__title {
    font-size: 16px;
}
.post-modal__content { 
    resize: none;
    min-height: 100px; 
    font-size: 16px;
}
.post-modal__actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 15px;
}
.post-modal__createbtn {
    background: #05723c;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.post-modal__closebtn {
    background: #6e6d6d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}
